@*
    ****Page Created by     :   Lorraine I. Ale
    ****Page Started date   :   05/07/2020
    ****Page Description    :   This page is allow to view/add/edit/delete Force Leave Plan.
*@
@{
    ViewBag.Title = "Index";
}
<style type="text/css">
    .field {
        border-radius: 3px;
        height: 35px;
        font-size: 18px;
    }

    .field-arrow {
        font-size: 26px;
    }

    .require-field {
        border: 1px solid red !important;
    }

    .table-thead-tr {
        background-color: white;
        border-bottom: none;
    }

    .fc-event {
        font-size: 1.1em; /* EDIT HERE */
        text-align: center;
    }

    .fc-scroller {
        overflow-y: hidden !important;
    }

    .table-thead-tr {
        display: none
    }

    .my-custom-scrollbar {
        position: relative;
        height: 311px;
        overflow: auto;
    }

    .my-custom-scrollbar-2 {
        position: relative;
        height: 410px;
        overflow: auto;
    }

    .table-wrapper-scroll-y {
        display: block;
    }

    table.dataTable tbody td {
        padding: 1.5px !important;
    }

    /*.navy-bg {
        padding-top: 0.5px;
        padding-bottom: 0.5px;
        margin-top: 0px;
        margin-bottom: 0px;
    }*/

    .m-b {
        margin: 0px !important;
    }

    .xx.input-group {
        display: block !important;
    }

    .approved-bg {
        background-color: #1C84C6;
    }

    .cancel-bg {
        background-color: #ED5565;
    }

    .disapproved-bg {
        background-color: #D62728;
    }

    .new-bg {
        background-color: #1AB394;
    }

    .reviewed-bg {
        background-color: #00C5DA;
    }

    .submitted-bg {
        background-color: #F8AC59;
    }

    .holidays-bg {
        background-color: #F8EE96;
    }

    .xxbg.fc-highlight {
        background-color: red;
    }

    .xxbtn_today_text {
        font-weight: bold;
        text-transform: capitalize;
    }

    .text_area {
        resize: none !important;
    }

    .fc-today {
        background: #F7C2BB !important;
    }

    .fc-today-button {
        background: #F7C2BB !important;
    }

    .holiday-bg {
        color: black;
        font-weight: bold;
        font-size: 1em;
        padding-top: 5px;
        padding-bottom: 10px;
    }

    .fc-view.fc-month-view.fc-basic-view {
        margin-top: -10px;
        background-image: url('../../ResourcesImages/Davao de Oro Provincial Capitol Building.JPG');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        box-sizing: content-box;
    }

    .fc-day-number {
        font-size: 14px !important;
        color: white;
        font-weight: bold;
        background-color: transparent;
    }

    .fc-view.fc-month-view.fc-basic-view > table {
        background: rgba(7, 81, 12, 0.5)
    }

    .fc-center > h2 {
        font-size: 18px;
        font-weight: bold;
        color: #57560c;
        cursor: pointer;
    }

    .fc-day-header.fc-widget-header {
        color: white !important;
        padding-top: 3px;
        padding-bottom: 3px;
    }

    .ddl-name-font-size {
        font-size: 14px !important;
        position: relative;
        z-index: 5000;
    }

    .select2-selection__clear {
        font-size: 14px !important;
    }

    .select2-close-mask {
        z-index: 2099;
    }

    .select2-dropdown {
        z-index: 3051;
    }

    .select2-selection__rendered {
        line-height: 31px !important;
    }

    .select2-container .select2-selection--single {
        height: 35px !important;
        /*border: 1px solid red !important;*/
    }

    .select2-selection__arrow {
        height: 34px !important;
    }

    .text_area_size {
        height: 50px !important;
    }
    .sl-vl-radio-display-none {
        display: none;
    }
    .ddl_padding_xx {
        padding: 0px !important;
        margin: 0px !important;
    }
    div.holiday {
        width: 90% !important;
        margin-top: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: '...';
        color: white !important;
    }
    .cw {
        display: none !important;
    }
    .today {
        display: none !important;
    }

    span.required {
        border: 1px solid red !important;
    }
    .swal-footer{
        text-align: center !important;
    }
    .swal-text {
        text-align: center !important;
    }
    @@media only screen and (max-width:450px) {

        thead tr th {
            font-size: 8px !important;
        }

        tbody tr td {
            font-size: 10px !important;
        }
    }
</style>
<script src="~/Angular/ng-cSSLeaveAppl.js?v=14"></script>
<section ng-app="ng_selfService_App" ng-controller="cSSLeaveAppl_ctrlr">

    <!-- Info Modal -->
    <div class="modal fade" id="info_modal" tabindex="-1" role="dialog" aria-labelledby="modalLabelSmall" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content  modal-content-add-edit">
                <div class="modal-header ">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalLabelSmall">{{ModalTitle}}</h4>
                </div>
                <div class="modal-body with-background">
                    <div class="row" style="padding-top:-2px;">
                        <div class="col-sm-12">
                            <div style="width:45%; float:left;">
                                <label class="pull-left font-bold" style="margin-top:0px;padding-top:5px;">Holiday</label>
                            </div>
                            <div style="width:55%; float:left;">
                                <button style="width:100%;margin-top:10px;" type="button" class="btn holidays-bg" data-dismiss="modal" ng-click="clear_time_out()"></button>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-top:-2px;">
                        <div class="col-sm-12">
                            <div style="width:45%; float:left;">
                                <label class="pull-left font-bold" style="margin-top:0px;padding-top:5px;">Today's Date</label>
                            </div>
                            <div style="width:55%; float:left;">
                                <button style="width:100%;margin-top:10px;" type="button" class="btn fc-today" data-dismiss="modal" ng-click="clear_time_out()"></button>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-top:-2px;">
                        <div class="col-sm-12">
                            <div style="width:45%; float:left;">
                                <label class="pull-left font-bold" style="margin-top:0px;padding-top:5px;">Reviewed</label>
                            </div>
                            <div style="width:55%; float:left;">
                                <button style="width:100%;margin-top:10px;" type="button" class="btn reviewed-bg" data-dismiss="modal" ng-click="clear_time_out()"></button>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-top:-2px;">
                        <div class="col-sm-12">
                            <div style="width:45%; float:left;">
                                <label class="pull-left font-bold" style="margin-top:0px;padding-top:5px;">Approved</label>
                            </div>
                            <div style="width:55%; float:left;">
                                <button style="width:100%;margin-top:10px;" type="button" class="btn approved-bg" data-dismiss="modal" ng-click="clear_time_out()"></button>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-top:-2px;">
                        <div class="col-sm-12">
                            <div style="width:45%; float:left;">
                                <label class="pull-left font-bold" style="margin-top:0px;padding-top:5px;">New</label>
                            </div>
                            <div style="width:55%; float:left;">
                                <button style="width:100%;margin-top:10px;" type="button" class="btn new-bg" data-dismiss="modal" ng-click="clear_time_out()"></button>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-top:-2px;">
                        <div class="col-sm-12">
                            <div style="width:45%; float:left;">
                                <label class="pull-left font-bold" style="margin-top:0px;padding-top:5px;">Submitted</label>
                            </div>
                            <div style="width:55%; float:left;">
                                <button style="width:100%;margin-top:10px;" type="button" class="btn submitted-bg" data-dismiss="modal" ng-click="clear_time_out()"></button>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-top:-2px;">
                        <div class="col-sm-12">
                            <div style="width:45%; float:left;">
                                <label class="pull-left font-bold" style="margin-top:0px;padding-top:5px;">Cancel Pending</label>
                            </div>
                            <div style="width:55%; float:left;">
                                <button style="width:100%;margin-top:10px;" type="button" class="btn cancel-bg" data-dismiss="modal" ng-click="clear_time_out()"></button>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-top:-2px;">
                        <div class="col-sm-12">
                            <div style="width:45%; float:left;">
                                <label class="pull-left font-bold" style="margin-top:0px;padding-top:5px;">Disapproved</label>
                            </div>
                            <div style="width:55%; float:left;">
                                <button style="width:100%;margin-top:10px;" type="button" class="btn disapproved-bg" data-dismiss="modal" ng-click="clear_time_out()"></button>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-top:-2px;">
                        <div class="col-sm-12">
                            <div style="width:45%; float:left;">
                                <label class="pull-left font-bold" style="margin-top:0px;padding-top:5px;">Cancelled</label>
                            </div>
                            <div style="width:55%; float:left;">
                                <button style="width:100%;margin-top:10px;" type="button" class="btn disapproved-bg" data-dismiss="modal" ng-click="clear_time_out()"></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="padding: 10px 30px 10px 30px !important">
                    @*<button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="clear_time_out()"><i class="fa fa-close"></i> Close</button>*@
                </div>
            </div>
        </div>
    </div>
    <!--End of Info Modal-->
    <!--Add Modal-->
    <div class="modal fade" id="main_modal" tabindex="-1" role="dialog" aria-labelledby="modalLabelSmall" aria-hidden="true" style="overflow:scroll !important">
        <div class="modal-dialog modal-lg">
            <div class="modal-content  modal-content-add-edit">
                <div class="modal-header modal-header-add-edit text-white">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalLabelSmall">{{ModalTitle}}</h4>
                </div>
                <div class="modal-body with-background" style="padding: 20px 10px 0px 10px !important">
                    <div class="row">
                        <div class="col-lg-12 m-b-md">
                            <div class="tabs-container">
                                <ul class="nav nav-tabs">
                                    <li class="active" ng-click="leave_computation_edited()"><a id="id_leaveinfo" data-toggle="tab" href="#tab-1"><b> <i class="fa fa-sign-out"></i> Leave Information</b></a></li>
                                    <li class=""><a id="id_datebrk" data-toggle="tab" href="#tab-2"><b> <i class="fa fa-calendar"></i> Date Breakdown</b></a></li>
                                    <li class=""><a data-toggle="tab" href="#tab-3"><b><i class="fa fa-info-circle"></i> Other Information</b></a></li>
                                    <li class=""><a data-toggle="tab" href="#tab-4"><b><i class="fa fa-history"></i> View History</b></a></li>
                                </ul>
                                <div class="tab-content">
                                    <div id="tab-1" class="tab-pane active">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-lg-8">
                                                    <div class="form-group row">
                                                        <div class="col-lg-12" style="padding:0px;margin:0px;">
                                                            <div class="col-lg-3" style="padding-right:0px;padding-top:9px;">
                                                                <label class="font-bold"><b> Application Nbr.:</b></label>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <input class="form-control text-left font-bold" id="txtb_appl_nbr" ng-model="txtb_appl_nbr" disabled />
                                                                <label id="lbl_txtb_sig1_name_req" class="lbl_required"></label>
                                                            </div>
                                                            <div class="col-lg-2" style="padding-right:0px;padding-top:9px;">
                                                                <label class="font-bold"><b> Status:</b></label>
                                                            </div>
                                                            <div class="col-lg-4">
                                                                <input class="form-control text-center font-bold" id="txtb_approval_status" ng-model="txtb_approval_status" disabled />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="form-group row">
                                                        <div class="col-lg-12" style="padding:0px;margin:0px;">
                                                            <div class="col-lg-5">
                                                                <label class="font-bold"><b> Date Applied:</b></label>
                                                            </div>
                                                            <div class="col-lg-7">
                                                                <input type="text" id="txtb_date_applied" ng-model="txtb_date_applied" class="form-control form-control-sm text-center font-bold" maxlength="10" disabled />
                                                                <label id="lbl_txtb_date_applied_req" class="lbl_required"></label>
                                                            </div>
                                                            @*<div class="col-lg-7" style="margin-left:0px;padding-left:0px;">
                                                                    <div class="input-group date" data-provide="datepicker">
                                                                        <input type="text" id="txtb_date_applied" ng-model="txtb_date_applied" class="form-control form-control-sm text-center font-bold" maxlength="10" ng-disabled="dis_when_s" />
                                                                        <span class="input-group-addon">
                                                                            <span class="fa fa-calendar"></span>
                                                                        </span>
                                                                    </div>
                                                                    <label id="lbl_txtb_date_applied_req" class="lbl_required"></label>
                                                                </div>*@
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-8">
                                                    <div class="form-group row">
                                                        <div class="col-lg-12" style="padding:0px;margin:0px;">
                                                            <div class="col-lg-3" style="padding-right:0px;padding-top:9px;">
                                                                <label class="font-bold"><b> Employee Name:</b></label>
                                                            </div>
                                                            <div class="col-lg-9">
                                                                <input class="form-control text-left font-bold" id="txtb_empl_name" ng-model="txtb_empl_name" disabled />
                                                                <label id="lbl_txtb_sig1_name_req" class="lbl_required"></label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="form-group row">
                                                        <div class="col-lg-12" style="padding:0px;margin:0px;">
                                                            <div class="col-lg-5">
                                                                <label class="font-bold"><b> ID No.:</b></label>
                                                            </div>
                                                            <div class="col-lg-7">
                                                                <input class="form-control text-center font-bold" id="txtb_empl_id" ng-model="txtb_empl_id" disabled />
                                                                <label id="lbl_txtb_sig1_name_req" class="lbl_required"></label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-2" style="padding-right:0px;padding-top:9px;">
                                                    <label class="font-bold"><b> Remarks:</b></label>
                                                </div>
                                                <div class="col-lg-10">
                                                    <input class="form-control font-bold" maxlength="255" ng-model="txtb_remarks" id="txtb_remarks" disabled />
                                                    <label id="lbl_txtb_description_req" class="lbl_required"></label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-2" style="padding-right:0px;padding-top:9px;">
                                                    <label class="font-bold"><b> Leave Comment:</b></label>
                                                </div>
                                                <div class="col-lg-10" style="padding-top:3px">
                                                    <input class="form-control font-bold" maxlength="255" ng-model="txtb_comments" id="txtb_comments" ng-disabled="dis_when_s" />
                                                    @*<textarea class="form-control " ng-model="txtb_comments" id="txtb_comments" ng-disabled="dis_when_s"></textarea>*@
                                                    <label id="lbl_txtb_description_req" class="lbl_required"></label>
                                                </div>
                                            </div>
                                            <hr style="margin-top:5px;margin-bottom:2px;padding:0px;" />
                                            <div class="row" style="padding-top:5px;">
                                                <div class="col-lg-6 b-r">
                                                    <div class="form-group row">

                                                        <div class="col-lg-12" style="padding:0px;margin:0px;">
                                                            <div class="col-lg-4" style="padding-right:0px;padding-top:9px;">
                                                                <label class="font-bold"><b> Leave Type:</b></label>
                                                            </div>
                                                            <div class="col-lg-8">
                                                                <select class="form-control field-select-sm" id="ddl_leave_type" ng-model="ddl_leave_type" ng-change="selectLeaveType()" ng-disabled="dis_when_s">
                                                                    <option value="" selected>Select Here</option>
                                                                    <option ng-repeat="lst in leave_type" value="{{lst.leavetype_code}}">{{lst.leavetype_descr}}</option>
                                                                </select>
                                                                <label id="lbl_ddl_leave_type_req" class="lbl_required"></label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row" style="padding-top:3px;">
                                                        <div class="col-lg-12" style="padding:0px;margin:0px;">
                                                            <div class="col-lg-4" style="padding-right:0px;padding-top:9px;">
                                                                <label class="font-bold"><b> Leave Sub-Type:</b></label>
                                                            </div>
                                                            <div class="col-lg-8">
                                                                <select class="form-control field-select-sm" id="ddl_leave_sub_type" ng-model="ddl_leave_sub_type" ng-change="selectLeaveType()" ng-disabled="dis_when_s">
                                                                    <option value="" selected>Select Here</option>
                                                                    <option ng-repeat="lst in leave_sub_type" value="{{lst.leavesubtype_code}}">{{lst.leavesubtype_descr}}</option>
                                                                </select>
                                                                <label id="lbl_ddl_leave_sub_type_req" class="lbl_required"></label>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group row" style="padding-top:3px;margin-bottom:0px !important">
                                                        <div class="col-lg-4">
                                                            <div class="i-checks" id="slvl_radio0">
                                                                <label>
                                                                    <input type="radio" value="0" name="sl_vl" id="x0">
                                                                    <label id="slvl_radio0_text" style="font-size:10px !important"> Select Here 0 </label>
                                                                </label>
                                                            </div>
                                                            <div class="i-checks" id="slvl_radio1">
                                                                <label>
                                                                    <input type="radio" value="1" name="sl_vl" id="x1">
                                                                    <label id="slvl_radio1_text" style="font-size:10px !important"> Select Here 1</label>
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-8" id="txtb_specify_div">
                                                            <input class="form-control text-left" placeholder="Specify" id="txtb_specify" ng-model="txtb_specify" />
                                                            <label id="lbl_txtb_specify_req" class="lbl_required"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row" style="display:none;">
                                                        <div class="col-lg-12" style="padding:0px;margin:0px;">
                                                            <div class="col-lg-4" style="padding-right:0px;padding-top:9px;">
                                                                <label class="font-bold"><b> Current Balance:</b></label>
                                                            </div>
                                                            <div class="col-lg-4">
                                                                <input class="form-control text-right" ng-model="txtb_current_bal" id="txtb_current_bal" disabled />
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group row">
                                                        <div class="col-lg-12">
                                                            <hr />
                                                            <label class="container" ng-click="func_checked()">
                                                                <small>With Justification</small>
                                                                <input type="checkbox" id="justification_flag">
                                                                <span class="checkmark"></span>
                                                            </label>
                                                        </div>
                                                        <div class="col-lg-8" ng-show="div_justi_msg">
                                                            <button class="btn btn-warning btn-block" ng-click="openJustification()"> <i class="fa fa-align-justify"></i> Write/View Justification </button>
                                                        </div>
                                                        @*<div class="col-lg-4" ng-show="div_justi_msg">
                                                            <button class="btn btn-primary btn-block" ng-click="btn_print_action(0,'justification_check')"> <i class="fa fa-print"></i> Print </button>
                                                        </div>*@
                                                        <div class="col-lg-12" ng-show="div_justi_bottom_msg">
                                                            <span class="alert-success small font-bold">
                                                                <i class="fa fa-check-circle"> Justification Successfully Saved</i>
                                                            </span>
                                                        </div>
                                                        <hr />
                                                    </div>

                                                    @*<div class="form-group row m-t-sm" style="max-height:20% ; overflow:auto">
                                                        <div class="col-sm-12">
                                                            <div ng-repeat="lst in leave_oth_info" class="alert alert-success alert-dismissable small font-bold" style="margin-bottom:5px !important">
                                                                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                                                <i class="fa fa-info-circle"></i>
                                                                {{lst.leavetype_dtl_descr}}
                                                            </div>
                                                        </div>
                                                    </div>*@
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="row m-b-xs">
                                                        <div class="col-lg-7">
                                                            <label class="pull-left" style="padding-top:9px;"><i>Leave Credits/Balance as of </i></label>
                                                        </div>
                                                        <div class="col-lg-5">
                                                            <input type="text" id="txtb_date_bal_asof" ng-model="txtb_date_bal_asof" class="form-control form-control-sm text-center font-bold pull-right" maxlength="10" disabled />
                                                            <label id="lbl_txtb_date_bal_asof_req" class="lbl_required"></label>
                                                        </div>
                                                        @*<div class="col-lg-5" style="padding:0px;margin:0px;">
                                                                <div class="input-group date" data-provide="datepicker">
                                                                    <input style="width:90%;" type="text" id="txtb_date_bal_asof" ng-model="txtb_date_bal_asof" class="form-control form-control-sm text-center font-bold pull-right" maxlength="10" ng-disabled="dis_when_s" />
                                                                    <span class="input-group-addon">
                                                                        <span class="fa fa-calendar"></span>
                                                                    </span>
                                                                </div>
                                                                <label id="lbl_txtb_date_bal_asof_req" class="lbl_required"></label>
                                                            </div>*@
                                                    </div>
                                                    <div class="row">
                                                        @*<div class="col-lg-3 b-r">
                                                                <div class="widget style1 navy-bg" style="padding:10px !important;">
                                                                    <div class="col-12 text-right">
                                                                        <small>Vacation Leave</small>
                                                                        <h3 class="font-bold no-margins">15.355</h3>
                                                                        <hr style="margin-top:0px ;margin-bottom:0px " />
                                                                        <small>1.5</small>
                                                                    </div>
                                                                </div>
                                                            </div>*@
                                                        <div class="col-lg-12 text-right m-t-xs m-b-xs" ng-show="show_refresh_bal">
                                                            <button class="btn btn-primary btn-block" ng-click="btn_refresh_balances()"><i id="icn_refresh" class="fa fa-refresh"></i> Sync Balances </button>
                                                        </div>
                                                        <div class="col-lg-12">
                                                            <table class="table" style="margin-bottom:0px !important">
                                                                <thead>
                                                                    <tr>
                                                                        <th width="13%"></th>
                                                                        <th width="18%">VL</th>
                                                                        <th width="18%">SL</th>
                                                                        <th width="18%">SP</th>
                                                                        <th width="18%">FL</th>
                                                                        <th width="18%">{{(ddl_leave_type == "" || ddl_leave_type == "FL" || ddl_leave_type == "VL" || ddl_leave_type == "SL" || ddl_leave_type == "SP"     ? "CTO" : ddl_leave_type)}}</th>
                                                                        @*<th width="15%">CTO</th>*@
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td width="13%">Curr. Bal</td>
                                                                        <td width="15%" align="center"><input style="padding:3px !important" class="form-control text-right" id="vl_current_balance" ng-model="vl_current_balance" onkeypress='return event.charCode >= 8 && event.charCode <= 57' ng-change="leave_computation_edited()" disabled @*ng-disabled="dis_when_s"*@ /></td>
                                                                        <td width="18%" align="center"><input style="padding:3px !important" class="form-control text-right" id="sl_current_balance" ng-model="sl_current_balance" onkeypress='return event.charCode >= 8 && event.charCode <= 57' ng-change="leave_computation_edited()" disabled @*ng-disabled="dis_when_s"*@ /></td>
                                                                        <td width="18%" align="center"><input style="padding:3px !important" class="form-control text-right" id="sp_current_balance" ng-model="sp_current_balance" onkeypress='return event.charCode >= 8 && event.charCode <= 57' ng-change="leave_computation_edited()" disabled @*ng-disabled="dis_when_s"*@ /></td>
                                                                        <td width="15%" align="center"><input style="padding:3px !important" class="form-control text-right" id="fl_current_balance" ng-model="fl_current_balance" onkeypress='return event.charCode >= 8 && event.charCode <= 57' ng-change="leave_computation_edited()" disabled @*ng-disabled="dis_when_s"*@ /></td>
                                                                        <td width="18%" align="center"><input style="padding:3px !important" class="form-control text-right" id="cto_current_balance" ng-model="cto_current_balance" onkeypress='return event.charCode >= 8 && event.charCode <= 57' ng-change="leave_computation_edited()" disabled @*ng-disabled="dis_when_s"*@ /></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td width="13%">Less</td>
                                                                        <td width="15%" align="center"><input style="padding:3px !important" class="form-control text-right" id="vl_less_this_leave" ng-model="vl_less_this_leave" onkeypress='return event.charCode >= 8 && event.charCode <= 57' ng-change="leave_computation_edited()" disabled @*ng-disabled="dis_when_s"*@ /></td>
                                                                        <td width="18%" align="center"><input style="padding:3px !important" class="form-control text-right" id="sl_less_this_leave" ng-model="sl_less_this_leave" onkeypress='return event.charCode >= 8 && event.charCode <= 57' ng-change="leave_computation_edited()" disabled @*ng-disabled="dis_when_s"*@ /></td>
                                                                        <td width="18%" align="center"><input style="padding:3px !important" class="form-control text-right" id="sp_less_this_leave" ng-model="sp_less_this_leave" onkeypress='return event.charCode >= 8 && event.charCode <= 57' ng-change="leave_computation_edited()" disabled @*ng-disabled="dis_when_s"*@ /></td>
                                                                        <td width="15%" align="center"><input style="padding:3px !important" class="form-control text-right" id="fl_less_this_leave" ng-model="fl_less_this_leave" onkeypress='return event.charCode >= 8 && event.charCode <= 57' ng-change="leave_computation_edited()" disabled @*ng-disabled="dis_when_s"*@ /></td>
                                                                        <td width="18%" align="center"><input style="padding:3px !important" class="form-control text-right" id="cto_less_this_leave" ng-model="cto_less_this_leave" onkeypress='return event.charCode >= 8 && event.charCode <= 57' ng-change="leave_computation_edited()" disabled @*ng-disabled="dis_when_s"*@ /></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td width="13%">Balance</td>
                                                                        <td width="15%" align="right" style="padding-right:3px;"><label id="vl_leave_bal"></label></td>
                                                                        <td width="18%" align="right" style="padding-right:3px;"><label id="sl_leave_bal"></label></td>
                                                                        <td width="18%" align="right" style="padding-right:3px;"><label id="sp_leave_bal"></label></td>
                                                                        <td width="15%" align="right" style="padding-right:3px;"><label id="fl_leave_bal"></label></td>
                                                                        <td width="18%" align="right" style="padding-right:3px;"><label id="cto_leave_bal"></label></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        <div class="col-lg-12">
                                                            <span class="small text-info" style="font-style:italic;font-weight:bold"> <i class="fa fa-info-circle"></i> All current posted leave balance list is on Other information Tab.</span>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div id="tab-2" class="tab-pane">
                                        <div class="panel-body">

                                            <div class="row" style="padding:20px !important">
                                                <div class="col-lg-12" style="padding-bottom:5px !important">
                                                    <button class="btn btn-success pull-right btn-sm" ng-click="btn_open_dtl_modal()"> <i class="fa fa-plus-square-o"></i> Add</button>
                                                </div>

                                                <div class="col-lg-12 ">
                                                    <table id="datalist_grid2" ng-model="datalist_grid2" class="table_div table table-striped table-bordered table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th width="40%">DATE FROM</th>
                                                                <th width="40%">DATE TO</th>
                                                                <th width="20%">TTL. DEDUCT PER DAY</th>
                                                                <th width="20%">TTL. DAYS LEAVE</th>
                                                                <th width="20%">ACTIONS</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody></tbody>
                                                    </table>
                                                </div>
                                                <div class="col-sm-12" style="text-align:center;">
                                                    <label id="lbl_datalist_grid2_req" class="lbl_required" style="float:none !important;"></label>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div id="tab-3" class="tab-pane">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-lg-4 b-r">
                                                    <div class="ibox float-e-margins">
                                                        <div class="ibox-title">
                                                            <h5> <span class="fa fa-paperclip"></span> LEAVE BALANCES</h5>
                                                        </div>
                                                        <div class="ibox-content" ng-repeat="lst in lst_all_bal">
                                                            <div class="row">
                                                                <div class="col-xs-7">
                                                                    <small class="stats-label"><b><i class="fa fa-circle {{lst.balance_color}}"></i>  {{lst.leavetype_descr}}</b></small>
                                                                </div>
                                                                <div class="col-xs-5">
                                                                    <small class="stats-label">Balance</small>
                                                                    <h4>{{lst.leaveledger_balance_current}}</h4>
                                                                </div>
                                                            </div>
                                                        </div>        
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="ibox-title">
                                                        <h5> <span class="fa fa-paperclip"></span> Force Leave Plan</h5>
                                                    </div>
                                                    <div class="ibox-content" ng-repeat="lst in lst_fl_plan_lst">
                                                        <div class="row">
                                                            <div class="col-xs-12">
                                                                <small class="stats-label">
                                                                    <b><i class="fa fa-calendar-o"></i>  {{lst.flp_application_date_descr}}</b>
                                                                    <br />    {{lst.approval_status_descr}}
                                                                </small>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>

                                                @*<div class="col-lg-4">
                                                    <div class="ibox float-e-margins">
                                                        <div class="ibox-title">
                                                            <h3> <span class="fa fa-history"></span> APPROVAL HISTORY</h3>
                                                        </div>
                                                        <div class="ibox-content">
                                                            <div class="row">
                                                                <div class="col-lg-12 ">
                                                                    <h5> <span class="fa fa-history"></span> LEAVE APPLICATION HISTORY</h5>
                                                                    <h4 class="text-danger"> <i class="fa fa-user"></i> Creator</h4>
                                                                    <p>{{employee_name_creator}}</p>
                                                                    <p>Created Date and Time: {{created_dttm}}</p>
                                                                </div>
                                                                <div class="col-lg-12" ng-show="employee_name_reviewer">

                                                                    <h4 class="text-warning"><i class="fa fa-user"></i> Reviewer</h4>
                                                                    <p>Name: {{employee_name_reviewer}}</p>
                                                                    <p>Date and Time: {{reviewed_date}}</p>
                                                                    <p>Comment: {{reviewed_comment}}</p>
                                                                </div>

                                                                <div class="col-lg-12" ng-show="employee_name_final_approver">
                                                                    <h4 class="text-success"><i class="fa fa-user"></i> Final Approver</h4>
                                                                    <p>Name: {{employee_name_final_approver}}</p>
                                                                    <p>Date and Time: {{final_approval_date}}</p>
                                                                    <p>Comment: {{final_approval_comment}}</p>
                                                                </div>
                                                                <div class="col-lg-12" ng-show="employee_name_disapprover">
                                                                    <h4 class="text-danger"><i class="fa fa-user"></i> Disapproved by</h4>
                                                                    <p>Name: {{employee_name_disapprover}}</p>
                                                                    <p>Date and Time: {{disapproval_date}}</p>
                                                                    <p>Comment: {{disapproval_comment}}</p>
                                                                </div>
                                                                <div class="col-lg-12" ng-show="employee_name_cancel_pending">
                                                                    <h4 class="text-danger"><i class="fa fa-user"></i> Cancel Pending by</h4>
                                                                    <p>Name: {{employee_name_cancel_pending}}</p>
                                                                    <p>Date and Time: {{cancel_pending_date}}</p>
                                                                    <p>Comment: {{cancel_pending_comment}}</p>
                                                                </div>
                                                            </div>
                                                            <div class="row" ng-show="employee_name_creator_posting">
                                                                <div class="col-lg-12 ">
                                                                    <hr />
                                                                    <h5> <span class="fa fa-history"></span> POSTING HISTORY</h5>
                                                                    <h4 class="text-danger"> <i class="fa fa-user"></i> Carded By</h4>
                                                                    <p>{{employee_name_creator_posting}}</p>
                                                                    <p>Created Date and Time: {{created_dttm_posting}}</p>
                                                                </div>
                                                                <div class="col-lg-12" ng-show="employee_name_final_approver_posting">
                                                                    <h4 class="text-success"><i class="fa fa-user"></i> Final Approver</h4>
                                                                    <p>Name: {{employee_name_final_approver_posting}}</p>
                                                                    <p>Date and Time: {{final_approval_date_posting}}</p>
                                                                    <p>Comment: {{final_approval_comment_posting}}</p>
                                                                </div>
                                                                <div class="col-lg-12" ng-show="employee_name_disapprover_posting">
                                                                    <h4 class="text-danger"><i class="fa fa-user"></i> Disapproved by</h4>
                                                                    <p>Name: {{employee_name_disapprover_posting}}</p>
                                                                    <p>Date and Time: {{disapproval_date_posting}}</p>
                                                                    <p>Comment: {{disapproval_comment_posting}}</p>
                                                                </div>
                                                                <div class="col-lg-12" ng-show="employee_name_cancel_pending_posting">
                                                                    <h4 class="text-danger"><i class="fa fa-user"></i> Cancel Pending by</h4>
                                                                    <p>Name: {{employee_name_cancel_pending_posting}}</p>
                                                                    <p>Date and Time: {{cancel_pending_date_posting}}</p>
                                                                    <p>Comment: {{cancel_pending_comment_posting}}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>*@
                                                <div class="col-lg-5">
                                                    <div class="ibox float-e-margins">
                                                        <div class="ibox-title">
                                                            <h5> <span class="fa fa-paperclip"></span> LEAVE CANCELLATION</h5>
                                                        </div>
                                                        <div class="ibox-content" ng-repeat="lst in lv_cancellation_lst">
                                                            <div class="row">
                                                                <div class="col-xs-12">
                                                                    <small class="stats-label">
                                                                        <b>{{lst.leave_ctrlno}}</b>
                                                                        <br />
                                                                        Cancel Date: {{lst.leave_cancel_date_descr}}
                                                                        <br />
                                                                        Transfer Date: {{lst.leave_transfer_date_descr}}
                                                                        <br />
                                                                        Reason: {{lst.reason}} ({{lst.leave_cancel_type}})
                                                                        <br />
                                                                        Status: {{lst.leave_cancel_status_descr}} 
                                                                    </small>
                                                                    <hr style="margin-top:5px;margin-bottom:2px;padding:0px;" />
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div id="tab-4" class="tab-pane">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-lg-3"></div>
                                                <div class="col-lg-6">
                                                    <div class="feed-activity-list">
                                                        <div class="feed-element" ng-repeat="lst in data_history">
                                                            
                                                            <div class="pull-left">
                                                                <div class="img-circle">
                                                                    <span class="fa fa-user fa-3x"></span>
                                                                </div>
                                                            </div>
                                                            <div class="media-body ">
                                                                <small class="pull-right" style="padding-left:10px !important">{{lst.create_dttm_ago}}</small>
                                                                {{lst.appl_status}} by <strong>{{lst.employee_name_format_2}}</strong>
                                                                <small class="text-muted">on {{lst.create_dttm_descr}}</small>
                                                            </div>
                                                        </div>

                                                    </div>

                                                    <button class="btn btn-primary btn-block m-t" ng-click="Retrieve_LeaveHistory()"><i class="fa fa-arrow-down" id="view_details_history"></i> View Details</button>

                                                </div>
                                                <div class="col-lg-3"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary pull-left" ng-show="show_cancel_button" ng-click="btn_open_cancel()"><i class="fa fa-print"></i> Create/Print Cancellation for Approve Leave</button>

                    <button id="withdrawSubmission" ng-show="showRecall" ng-click="btn_withdraw_submission()" type="button" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Recall Submission">                               <i class="fa fa-rotate-left"></i> Recall Submission</button>
                    <button id="submit" ng-click="btn_submit_click()" type="button" class="btn btn-warning" ng-disabled="dis_submit" data-toggle="tooltip" data-placement="top" title="Data cannot be deleted/updated once submitted">   <i class="fa fa-paper-plane-o"></i> Submit</button>
                    @*<button id="addFinal" ng-show="!isEdit" ng-click="btn_save_click()" type="button" class="btn btn-success">                                  <i class="fa fa-save"></i> Save</button>*@
                    @*<button id="edit" ng-show="isEdit" ng-click="SaveEdit()" type="button" class="btn btn-success" ng-disabled="dis_edit">     <i class="fa fa-save"></i> Save Edit</button>*@
                </div>
            </div>
        </div>
    </div>
    <!--End of Add Modal-->
    <!-- Leave Application Page-->
    <div class="wrapper wrapper-content animated fadeInRight" style="padding:10px 0px 0px 0px!important">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox-title" style="background-color:#507CD1;border-radius:5px 5px 0px 0px;">

                    <div class="row">
                        <div class="col-lg-4">
                            <h2 class="text-white">{{ menu_name }}</h2>
                        </div>
                        <div class="col-lg-8" ng-show="log_in_as_AO">
                            <select class="select2_demo_3 form-control" id="ddl_name" ng-model="ddl_name" ng-change="FilterPageGrid()" style="width:100%;">
                                <option value="">--Select Here--</option>
                                <option ng-repeat="lst in empl_names" value="{{lst.empl_id}}">{{lst.empl_id}} - {{lst.employee_name}}</option>
                            </select>
                            <label ng-show="log_in_as_AO" id="lbl_ddl_name_req" class="lbl_required"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight" style="padding:0px !important;">
        <div class="row">
            <div class="col-lg-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <div class="row" style="padding-bottom:2px;margin-bottom:0px;">
                            <div class="col-lg-6">
                                <select class="form-control field-select-sm form-control-sm" id="ddl_status" ng-model="ddl_status" ng-change="FilterPageGrid()">
                                    <option value="" selected>Select All Status</option>
                                    <option ng-repeat="lst in statusList" value="{{lst.approval_status}}">{{lst.approval_status_descr}}</option>
                                </select>
                                <label id="lbl_ddl_status_req" class="lbl_required"></label>
                            </div>
                            <div class="col-lg-6">
                                <input type="search" class="form-control" ng-model="search_datalist_grid3" ng-keyup="search_in_list(search_datalist_grid3,'datalist_grid3')" placeholder="Search ....">
                            </div>
                        </div>
                        <div class="row" style="padding-bottom:0px;margin-bottom:0px;">
                            <div class="col-lg-12">
                                <div style="width:38%;float:right;">
                                    <button id="add_force_leave" ng-show="ShowFLP" class="btn btn-default pull-right font-bold" ng-click="add_force_leave()"></button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="table-wrapper-scroll-y my-custom-scrollbar-2">
                                <div class="col-lg-12" style="padding-top:0px;margin-top:0px;">
                                    <table border="0" id="datalist_grid3" ng-model="datalist_grid3" class="table-striped" style="border:0px;width:100% !important;">
                                        <thead></thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8" style="padding-top:3px;padding-left:0px;">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div id="calendar"></div>
                    </div>
                </div>
            </div>  
        </div>
    </div>

    <div class="modal fade" id="leave_dtl_modal" tabindex="-1" role="dialog" aria-labelledby="modalLabelSmall" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content  modal-content-add-edit">
                <div class="modal-header blue-bg">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"> Leave Details Information</h4>
                </div>
                <div class="modal-body with-background">

                    <div class="row">
                        <div class="col-lg-12">
                            <label class="font-bold"><b> Leave Date From:</b></label>
                        </div>
                        <div class="col-lg-12">
                            <div class="input-group date" data-provide="datepicker">
                                <input type="text" id="start" ng-model="start" class="form-control form-control-sm text-center font-bold" maxlength="10" />
                                <span class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                            </div>
                            <label id="lbl_start_req" class="lbl_required"></label>
                        </div>
                        <div class="col-lg-12">
                            <label class="font-bold"><b> Leave Date To:</b></label>
                        </div>
                        <div class="col-lg-12">
                            <div class="input-group date" data-provide="datepicker">
                                <input type="text" id="end" ng-model="end" class="form-control form-control-sm text-center font-bold" maxlength="10" />
                                <span class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                            </div>
                            <label id="lbl_end_req" class="lbl_required"></label>
                        </div>
                        <div class="col-lg-12" >
                            <label class="font-bold"><b>{{lbl_days_hrs_equi}} </b></label>
                        </div>
                        <div class="col-lg-12" >
                            <div class="input-group">
                                <input class="form-control text-center" id="txtb_day_equiv" ng-model="txtb_day_equiv" />
                                <span class="input-group-addon">
                                    <span class="fa fa-pencil"></span>
                                </span>
                                <label id="lbl_txtb_day_equiv_req" class="lbl_required"></label>
                            </div>
                        </div>
                        @*<div class="col-lg-12" ng-show="div_cto">
                            <label class="font-bold"><b>Time Coverage:</b></label>
                        </div>
                        <div class="col-lg-12" ng-show="div_cto">
                            <select class="form-control" id="txtb_cto_remarks" ng-model="txtb_cto_remarks" ng-change="chck_halfday()">
                                <option value="08:00AM-5:00PM" selected>08:00AM-5:00PM</option>
                                <option value="08:00AM-12:00PM">08:00AM-12:00PM (half day)</option>
                                <option value="01:00PM-5:00PM">01:00PM-5:00PM (half day)</option>
                            </select>
                            <label id="lbl_txtb_cto_remarks_req" class="lbl_required"></label>
                        </div>*@
                        <div class="col-lg-12">
                            <label class="font-bold"><b> Total Days Leave:</b></label>
                        </div>
                        <div class="col-lg-12">
                            <div class="input-group">
                                <input class="form-control text-center" id="txtb_day_equiv_tot" ng-model="txtb_day_equiv_tot" />
                                <label id="lbl_txtb_day_equiv_tot_req" class="lbl_required"></label>
                                <span class="input-group-addon">
                                    <span class="fa fa-pencil"></span>
                                </span>
                            </div>
                        </div>

                        @*<div class="col-lg-12" style="padding-top:5px !important" ng-show="div_cto">
                                <label id="lbl_chckb_cto" class="container" style="padding-top: 3px; font-size: 12px !important;">
                                    Halfday?
                                    <input type="checkbox" id="chk_cto" checked="" ng-model="chk_cto" ng-change="chck_halfday()" />
                                    <span class="checkmark"></span>
                                </label>
                            </div>*@
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="add2" ng-show="show_btn_add_date" class="btn btn-success" ng-click="btn_add_date()"><i class="fa fa-plus-circle"></i> Add</button>
                    <button id="add2" ng-show="!show_btn_add_date" class="btn btn-success" ng-click="btn_update()"><i class="fa fa-edit"></i> Update</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="modal_cancellation" tabindex="-1" role="dialog" aria-labelledby="modalLabelSmall" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content ">
                <div class="modal-header ">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Create Cancellation of Approved Leave</h4>
                </div>
                <div class="modal-body with-background">
                    <div class="row">
                        <div class="col-lg-9">
                            <label class="font-bold"><b> Employee Name:</b></label>
                            <input class="form-control" disabled ng-model="txtb_empl_name" />
                        </div>
                        <div class="col-lg-3">
                            <label class="font-bold"><b> ID No:</b></label>
                            <input class="form-control" disabled ng-model="txtb_empl_id" />
                        </div>
                        <div class="col-lg-9">
                            <label class="font-bold"><b> Cancellation Status:</b></label>
                            <input class="form-control" disabled ng-model="leave_cancel_status_descr" />
                        </div>
                        <div class="col-lg-3">
                            <label class="font-bold"><b> Leave Ctrlno:</b></label>
                            <input class="form-control" disabled ng-model="txtb_appl_nbr" />
                        </div>
                        <hr />
                        <div class="col-lg-6">
                            <label class="font-bold"><b> Approved By:<span class="text-danger">*</span></b></label>
                            <input class="form-control" ng-model="approved_by" maxlength="100" ng-disabled="dis_cancel_txtbox" />
                        </div>
                        <div class="col-lg-6">
                            <label class="font-bold"><b> Approved By Designation: <span class="text-danger">*</span></b></label>
                            <input class="form-control" ng-model="approved_by_desig" maxlength="100" ng-disabled="dis_cancel_txtbox" />
                        </div>

                        <div class="col-lg-12">
                            <hr />
                            <h3><b>INCLUSIVE DATES</b></h3>
                            <table id="datalist_grid_cancell" ng-model="datalist_grid_cancell" class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th width="20%">LEAVE DATE</th>
                                        <th width="20%">TYPE</th>
                                        <th width="20%">TRANSFER DATE</th>
                                        <th width="20%">REASON</th>
                                        <th width="20%">RETURN DETAILS</th>
                                        <th width="10%">ACTION</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>

                        <div class="col-lg-12">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#demo" style="padding-left:0px !important">
                                <i class="fa fa-history"></i> Cancellation History
                            </button>
                            <div id="demo" class="collapse">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <label class="font-bold"><b> Submitted By:</b></label>
                                        <input class="form-control" disabled ng-model="submitted_employee_name" />
                                    </div>
                                    <div class="col-lg-12">
                                        <label class="font-bold"><b> Submitted Date/Time:</b></label>
                                        <input class="form-control" disabled ng-model="submitted_dttm" />
                                    </div>
                                    <div class="col-lg-12">
                                        <label class="font-bold"><b> Final Approved By:</b></label>
                                        <input class="form-control" disabled ng-model="final_approved_employee_name" />
                                    </div>
                                    <div class="col-lg-12">
                                        <label class="font-bold"><b> Final Approved Date/Time:</b></label>
                                        <input class="form-control" disabled ng-model="final_approved_dttm" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    @* <button type="button" class="btn btn-primary pull-left" ng-click="btn_print_cancel()"><i class="fa fa-print"></i> Print Cancellation</button>*@
                    <div ng-show="show_final_approved">
                        <button type="button" class="btn btn-primary" ng-show="!show_pending_submit" ng-click="btn_submit_cancel()"><i class="fa fa-send"></i> Submit and Print  Cancellation</button>
                        <button type="button" class="btn btn-danger" ng-show="show_pending_submit" ng-click="btn_submit_cancel_pending()"><i class="fa fa-send"></i> Cancel Pending</button>
                        <button type="button" class="btn btn-success" ng-show="show_pending_submit" ng-click="btn_print_cancel()"><i class="fa fa-print"></i> Print</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal_justification" tabindex="-1" role="dialog" aria-labelledby="modalLabelSmall" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content ">
                <div class="modal-header ">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h2 class="modal-title">Create Justification</h2>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <label class="font-bold"><b> Justification Date:</b></label>
                            <div class="input-group date" data-provide="datepicker">
                                <input type="text" ng-model="justi_date" id="justi_date" class="form-control form-control-sm text-center font-bold" maxlength="10" />
                                <span class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <label class="font-bold"><b> Justification Reason:</b></label>
                            <textarea class="form-control" ng-model="justi_reason" rows="8" id="justi_reason" ></textarea>
                        </div>
                        <div class="col-lg-12">
                            <label class="font-bold"><b> Employee Name:</b></label>
                            <input class="form-control" ng-model="justi_employee_name" />
                        </div>
                        <div class="col-lg-12">
                            <label class="font-bold"><b> Employee Position:</b></label>
                            <input class="form-control" ng-model="justi_employee_position" />
                        </div>
                        <div class="col-lg-12">
                            <label class="font-bold"><b> Noted By:</b></label>
                            <input class="form-control" ng-model="justi_noted_by" />
                        </div>
                        <div class="col-lg-12">
                            <label class="font-bold"><b> Noted By Designation:</b></label>
                            <input class="form-control" ng-model="justi_noted_desig" />
                        </div>
                    </div>
                    <div class="mail-text h-200" style="display:none">
                        <div id="summernote_justification">
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="btn_save_justification()"><i class="fa fa-save"></i> Save Justification</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="modal_cancellation_tranfer" tabindex="-1" role="dialog" aria-labelledby="modalLabelSmall" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content ">
                <div class="modal-header ">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Edit Cancellation</h4>
                </div>
                <div class="modal-body with-background">
                    <div class="row">
                        <div class="col-lg-12">
                            <label class="font-bold"><b> Leave Date:</b></label>
                            <input class="form-control text-center form-control-static font-bold" disabled id="leave_cancel_date" ng-model="leave_cancel_date" />
                        </div>
                        <div class="col-lg-12">
                            <label class="font-bold"><b> Type of Cancellation: <span class="text-danger">*</span></b></label>
                            <select class="form-control form-control" ng-model="leave_cancel_type" ng-disabled="dis_cancel_txtbox" ng-change="retrieve_cancel_type(leave_cancel_type)">
                                <option value="">-- Select Here --</option>
                                <option value="HOL">Holiday</option>
                                <option value="WORK_SUS">Work Suspension</option>
                                <option value="FL_TRNFR">Transfer Leave</option>
                                <option value="CNCEL_ONLY">Cancel Only</option>
                            </select>
                        </div>
                        <div class="col-lg-12" ng-show="div_show_transfer_date">
                            <label class="font-bold"><b> Transfer Date:</b></label>
                            <div class="input-group date" data-provide="datepicker">
                                <input type="text" ng-model="leave_transfer_date" id="leave_transfer_date" class="form-control form-control-sm text-center font-bold" maxlength="10" disabled />
                                <span class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <label class="font-bold"><b> Reason of Cancellation: <span class="text-danger">*</span></b></label>
                            <textarea class="form-control" ng-model="reason" maxlength="100" ng-disabled="dis_cancel_txtbox" rows="5"></textarea>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success btn-block" ng-click="btn_update_leave_date()"><i class="fa fa-save"></i> Save</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal_print_preview" tabindex="-1" role="dialog" aria-labelledby="modalLabelSmall" aria-hidden="true">
        <div class="modal-dialog modal-lg" style="width:80% !important">
            <div class="modal-content  modal-content-add-edit">
                <div class="modal-header navy-bg text-white">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title" id="modalLabelSmall">PRINT PREVIEW  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{employee_name_print}}</h3>
                </div>
                <div class="modal-body with-background" style="padding:0px !important">
                    <div class="row">
                        <div class="col-lg-12">
                            <iframe style="width:100% !important;height:70% !important;border:0px none;" id="iframe_print_preview"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal_loading">
        <div class="modal-dialog">
            <div class="modal-dialog text-center">
                <div class="spiner-example">
                    <div class="sk-spinner sk-spinner-cube-grid" style="width:250px;height:250px;">
                        <div class="sk-cube"></div>
                        <div class="sk-cube"></div>
                        <div class="sk-cube"></div>
                        <div class="sk-cube"></div>
                        <div class="sk-cube"></div>
                        <div class="sk-cube"></div>
                        <div class="sk-cube"></div>
                        <div class="sk-cube"></div>
                        <div class="sk-cube"></div>
                        <div class="row">
                            <div class="spiner-example text-white" style="margin-left:20px;">
                                <span style="float:left;font-size:16px;" id="loading_msg">LOADING</span>
                                <div style="float:left;width:150px;" class="sk-spinner sk-spinner-three-bounce">
                                    <div class="sk-bounce1" style="background-color:white;"></div>
                                    <div class="sk-bounce2" style="background-color:white;"></div>
                                    <div class="sk-bounce3" style="background-color:white;"></div>
                                    <div class="sk-bounce3" style="background-color:white;"></div>
                                    <div class="sk-bounce3" style="background-color:white;"></div>
                                    <div class="sk-bounce3" style="background-color:white;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


