@model HRIS_eSelfService.Models.User_Menu

@{
    ViewBag.Title = "Index";
}

<style type="text/css">
    .field {
        border-radius: 3px;
        height: 35px;
        font-size: 18px;
    }

    .field-arrow {
        font-size: 26px;
    }

    .require-field 
    {
        border: 1px solid red !important;
    }

    .btn.action 
    {
        width: 27px;
    }

    .inputfield 
    {
        height: 30px;
        font-weight: bold;
    }

    .require-field 
    {
        border: 1px solid red !important;
    }

    .zoom:hover 
    {
        transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        transition: all 1s ease;
    }
    @@media only screen and (min-width: 1300px) {
        .div_content_override {

            padding: 150px 250px 250px 200px;
        }
    }
    @@media only screen and (max-width: 769px) {
        .div_content_override {
            padding-top: 10px !important;
        }
    }
</style>

<script src="~/Angular/ng-rSSEmployeeCard.js"></script>

<section ng-app="ng_eSelfService_App" ng-controller="rSSEmployeeCard_ctrlr" >
    <div class="wrapper wrapper-content animated fadeInRight div_content_override">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-heading">
                        <div class="ibox-title" style="background-color:#1ab394;border-radius:5px 5px 0px 0px;">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h2 class="text-white">@Session["menu_name"].ToString()</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ibox-content">

                        <div class="row">
                            <div class="col-sm-3" style="padding-top:5px;">
                                <label>Employee Name :</label>
                            </div>
                            <div class="col-sm-6">
                                <input class="form-control font-bold" disabled id="txtb_empl_name" ng-model="txtb_empl_name" />
                            </div>
                            <div class="col-sm-1" style="padding-right:0px; padding-top:5px;">
                                <label>ID: </label>
                            </div>
                            <div class="col-sm-2">
                                <input class="form-control font-bold  text-center" disabled id="txtb_empl_id" ng-model="txtb_empl_id" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <hr style="margin-top:10px;margin-bottom:10px;" />
                            </div>

                            <div class="col-sm-3" style="padding-top:5px;">
                                <label>Payroll Year :</label>
                            </div>
                            <div class="col-sm-6">
                                <select class="form-control text-center" id="ddl_year" ng-model="ddl_year">
                                    <option value="">--Select Here--</option>
                                    <option ng-repeat="lst in year" value="{{lst.year}}">{{lst.year}}</option>
                                </select>
                                <label class="text-danger small">{{lbl_requiredfield1}}</label>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-sm-12">
                                <hr style="margin-top:10px;margin-bottom:10px" />
                            </div>

                            <div class="col-sm-3" style="padding-top:5px;">
                                <label>Peiod From:</label>
                            </div>

                            <div class="col-sm-9">
                                <div class="input-group date" data-provide="datepicker">
                                    <input type="text" id="txtb_period_from" ng-model="txtb_period_from" class="form-control text-center">
                                    <div class="input-group-addon">
                                        <span class="fa fa-calendar"></span>
                                    </div>
                                </div>

                            </div>

                            <div class="col-sm-12">
                                <hr style="margin-top:10px;margin-bottom:10px" />
                            </div>
                            <div class="col-sm-3" style="padding-top:5px;">
                                <label>Period To :</label>
                            </div>
                            <div class="col-sm-9">
                                <div class="input-group date" data-provide="datepicker">
                                    <input type="text" id="txtb_period_to" ng-model="txtb_period_to" class="form-control text-center">
                                    <div class="input-group-addon">
                                        <span class="fa fa-calendar"></span>
                                    </div>
                                </div>

                            </div>
                        </div>


                    </div>
                    <div class="ibox-footer text-right">
                        <button class="btn btn-primary" ng-click="btn_print()"><i class="fa fa-print"></i> Print </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>