
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Angular/ng-cAPRJobDescription.js"></script>
<section ng-app="ng_selfService_App" ng-controller="cAPRJobDescription_Ctrl">

    <div class="modal fade" id="main_modal_common" tabindex="-1" role="dialog" aria-labelledby="modalLabelSmall" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content animated flipInY modal-content-add-edit">
                <div class="modal-header modal-header-add-edit text-white">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalLabelSmall">{{ModalTitle}}</h4>
                </div>
                <div class="modal-body with-background" style="padding-bottom:5px;padding-top:5px;">
                    <div class="row">
                        <div class="col-lg-2">
                            <label>Employee:</label>
                        </div>
                        <div class="col-lg-7">
                            <input class="form-control field-select-sm" id="txtb_employee_name_dsp" ng-model="txtb_employee_name_dsp" ng-disabled="true" />
                        </div>
                        <div class="col-lg-1">
                            <label>ID:</label>
                        </div>
                        <div class="col-lg-2">
                            <input class="form-control field-select-sm" id="txtb_empl_id" ng-model="txtb_empl_id" ng-disabled="true" />
                        </div>
                    </div>
                    <div class="row" style="margin-top:3px;">
                        <div class="col-lg-2">
                            <label> Position:</label>
                        </div>
                        <div class="col-lg-10">
                            <input class="form-control field-select-sm" id="txtb_position" ng-model="txtb_position" ng-disabled="true" />
                        </div>
                    </div>
                    <div class="row" style="margin-top:5px;">
                        <div class="col-lg-12 table-responsive">
                            <table id="datalist_grid_common" ng-model="datalist_grid_common" class="table table-striped table-bordered table-hover" style="width:100% !important;">
                                <thead>
                                    <tr>
                                        <th width="15%">CODE</th>
                                        <th width="80%">COMMON JOB FUNCTION/DESCRIPTION</th>
                                        <th width="5%">INCLUDE</th>

                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="padding: 10px 30px 10px 30px !important">
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
                    <button id="addFinalCommon" ng-click="btn_save_common_click()" type="button" class="btn btn-success"><i class="fa fa-save"></i> Save</button>
                </div>
            </div>
        </div>
    </div>



    <div class="modal fade" id="main_modal" tabindex="-1" role="dialog" aria-labelledby="modalLabelSmall" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content animated flipInY modal-content-add-edit">
                <div class="modal-header modal-header-add-edit text-white">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalLabelSmall">{{ModalTitle}}</h4>
                </div>
                <div class="modal-body with-background" style="padding-bottom:5px;padding-top:5px;">
                    <div class="row">
                        <div class="col-sm-3">
                            <label style="margin-top:7px;"><b>Employee</b><small style="color:red">*</small><b>:</b></label>
                        </div>
                        <div class="col-sm-9">
                            <input class="form-control" ng-model="txtb_employee_val" ng-disabled="true" />
                            <label class="lbl_required" id="lbl_txtb_employee_add_req"></label>
                        </div>
                    </div>
                    <div class="row" style="margin-top:3px;">
                        <div class="col-sm-3">
                            <label style="margin-top:7px;"><b>Position</b><small style="color:red">*</small><b>:</b></label>
                        </div>
                        <div class="col-sm-9">
                            <input class="form-control" ng-model="txtb_position" ng-disabled="true" />
                            <label class="lbl_required" id="lbl_txtb_position_val_add_req"></label>
                        </div>
                    </div>
                    <hr style="margin-top:5px;margin-bottom:5px;border-color:black;" />
                    <div class="row" style="margin-top:3px;">
                        <div class="col-sm-7">
                            <label style="margin-top:7px;"><b>F.J.D Code</b><small style="color:red">*</small><b>:</b></label>
                            <div style="float:right;width:53.2%;">
                                <input class="form-control" id="txtb_fjd_code" ng-model="txtb_fjd_code" ng-disabled="true" />
                                <label class="lbl_required" id="lbl_txtb_fjd_code_req"></label>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <label style="margin-top:7px;"><b>Percent Weight</b><small style="color:red">*</small><b>:</b></label>
                            <div style="float:right;width:40.5%;">
                                <input class="form-control text-right" id="txtb_percent_weight" placeholder="0.00" ng-model="txtb_percent_weight" ng-disabled="!editTable" />
                                <label class="lbl_required" id="lbl_txtb_percent_weight_req"></label>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:3px;">
                        <div class="col-sm-3" style="padding-right:0px;">
                            <label style="margin-top:7px;"><b>Function/Description</b><small style="color:red">*</small><b>:</b></label>
                        </div>
                        <div class="col-sm-9">
                            <textarea class="form-control " id="txtb_function_description" ng-disabled="!editTable" ng-model="txtb_function_description"></textarea>
                            <label class="lbl_required" id="lbl_txtb_function_description_req"></label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="padding: 10px 30px 10px 30px !important">
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
                    <button id="edit"     ng-show="flase" ng-disabled="!isNotCommon" ng-click="btn_save_click('U')" type="button" class="btn btn-success"><i class="fa fa-save"></i> Add As Common</button>
                </div>
            </div>
        </div>
    </div>


    <div class="wrapper wrapper-content animated fadeInRight" style="padding:10px 0px 0px 0px!important">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox-title blue-bg">

                    <div class="row">
                        <div class="col-lg-4">
                            <h2 class="text-white">@Model.menu_name</h2>
                        </div>
                        <div class="col-lg-8">
                            <input type="search" class="form-control" style="color:black;" ng-model="search_box" ng-keyup="search_in_list(search_box,'datalist_grid')" placeholder="Search ....">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight" style="padding:0px !important;">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-3" style="padding-right:0px;">
                                <div style="float:left;width:100%;">
                                    <strong><span class="pull-left" style="margin-top:9px;">Show&nbsp;</span></strong>
                                    <select class="form-control field-select-sm" style="width:40%;float:left;" ng-model="rowLen" ng-change="setNumOfRow(rowLen,'datalist_grid')">
                                        <option value="5">5</option>
                                        <option value="10" selected>10</option>
                                        <option value="15">15</option>
                                        <option value="20">20</option>
                                        <option value="50">50</option>
                                    </select>
                                    <strong><span class="pull-left" style="float:left;margin-top:9px;">&nbsp;entries</span></strong>
                                </div>
                            </div>
                            <div class="col-lg-9">
                                <strong><span class="pull-left" style="margin-top:9px;">Department :&nbsp;</span></strong>
                                <div style="width:83.1%;float:right;">
                                    @*<input class="form-control field-select-sm" id="ddl_department_val_descr" ng-model="ddl_department_val_descr" ng-disabled="true" />*@
                                    <select class="form-control field-select-sm" id="ddl_department_val" ng-disabled="!isAO" ng-model="ddl_department_val" ng-change="ddl_department_change()">
                                        <option value="">--Select Here--</option>
                                        <option ng-repeat="lst in departments_list track by $index" ngx-id="{{$index}}" value="{{lst.department_code}}">{{lst.department_name1}}</option>
                                    </select>
                                    <label class="lbl_required" id="lbl_ddl_department_val_req"></label>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top:4px;">
                            <div class="col-lg-3"></div>
                            <div class="col-lg-9">
                                <strong><span class="pull-left" style="margin-top:9px;">Division :&nbsp;</span></strong>
                                <div style="width:83.1%;float:right;">
                                    @*<input class="form-control field-select-sm" id="ddl_division_val_descr" ng-model="ddl_division_val_descr" ng-disabled="true" />*@
                                    <select class="form-control field-select-sm" id="ddl_division_val" ng-disabled="!isAO" ng-model="ddl_division_val" ng-change="ddl_division_change()">
                                        <option value="">--Select Here--</option>
                                        <option ng-repeat="lst in divisions_list track by $index" ngx-id="{{$index}}" value="{{lst.division_code}}">{{lst.division_name1}}</option>
                                    </select>
                                    <label class="lbl_required" id="lbl_ddl_division_val_req"></label>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top:4px;">
                            <div class="col-lg-3"></div>
                            <div class="col-lg-9">
                                <strong><span class="pull-left" style="margin-top:9px;">Section :&nbsp;</span></strong>
                                <div style="width:83.1%;float:right;">
                                    @*<input class="form-control field-select-sm" id="ddl_section_val_descr" ng-model="ddl_section_val_descr" ng-disabled="true" />*@
                                    <select class="form-control field-select-sm" id="ddl_section_val" ng-disabled="!isAO" ng-model="ddl_section_val" ng-change="ddl_section_change()">
                                        <option value="">--Select Here--</option>
                                        <option ng-repeat="lst in section_list track by $index" ngx-id="{{$index}}" value="{{lst.section_code}}">{{lst.section_name1}}</option>
                                    </select>
                                    <label class="lbl_required" id="lbl_ddl_section_val_descr_req"></label>
                                </div>
                            </div>
                        </div>
                        <hr style="margin-top:5px !important;margin-bottom:5px !important;" />
                        <div class="row" style="margin-top:2px;">
                            <div class="col-lg-3"></div>
                            <div class="col-lg-5 col-md-2 col-sm-2">
                                <strong><span class="pull-left" style="margin-top:9px;">Employment Type:&nbsp;</span></strong>
                                <div style="width:68.7%;float:right;">
                                    <select class="form-control field-select-sm" id="ddl_employmenttype_val" ng-disabled="!isAO" ng-model="ddl_employmenttype_val" ng-change="ddl_employment_type_change()">
                                        <option value="">--Select Here--</option>
                                        <option ng-repeat="lst in empl_type_list track by $index" ngx-id="{{$index}}" value="{{lst.employment_type}}">{{lst.employmenttype_description}}</option>
                                    </select>
                                    <label class="lbl_required" id="lbl_ddl_employmenttype_val_req"></label>
                                </div>
                            </div>
                            <div class="col-lg-4 text-right">
                            </div>
                        </div>
                        <div class="row" style="margin-top:4px;">
                            <div class="col-lg-1">
                                <label style="margin-top:7px;"><b>Action</b><b>:</b></label>
                            </div>
                            <div class="col-lg-2">
                                <input class="form-control field-select-sm font-bold" id="status_descr" style="color:Blue" ng-model="work_list_action" ng-disabled="true" />
                               @* <label style="margin-top:7px;"><span style="color:{{status_color}}">{{work_list_action}}</span></label>*@
                            </div>
                            <div class="col-lg-9">
                                <strong><span class="pull-left" style="margin-top:9px;">Employee :&nbsp;</span></strong>
                                <div style="width:83.1%;float:right;">
                                    <select class="form-control field-select-sm" id="ddl_employee_val" ng-disabled="!isAO" ng-model="ddl_employee_val" ng-change="ddl_employee_val_change()">
                                        <option value="">--Select Here--</option>
                                        <option ng-repeat="lst in employee_list track by $index" ngx-id="{{$index}}" value="{{lst.empl_id}}">{{lst.employee_name}}</option>
                                    </select>
                                    <label class="lbl_required" id="lbl_ddl_employee_val_req"></label>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top:4px;">
                            <div class="col-lg-1">
                                <label style="margin-top:7px;"><b>Status</b><b>:</b></label>
                            </div>          
                            <div class="col-lg-2">
                                <input class="form-control field-select-sm font-bold" id="status_descr" style="color:{{status_color}}" ng-model="status_descr" ng-disabled="true" />
                                @*<label style="margin-top:7px;"><span style="color:{{status_color}}">{{status_descr}}</span></label>*@
                            </div>
                            <div class="col-lg-9">
                                <strong><span class="pull-left" style="margin-top:9px;">Position :&nbsp;</span></strong>
                                <div style="width:83.1%;float:right;" class="ddl_position_val">
                                    <input class="form-control field-select-sm" id="txtb_position" ng-model="txtb_position" ng-disabled="true" />
                                    @*<select class="form-control field-select-sm" id="ddl_position_val" ng-model="ddl_position_val" ng-change="ddl_pos_change('X')">
                                            <option value="">--Select Here--</option>
                                            <option ng-repeat="lst in positions_list track by $index" ngx-data="{{$index}}" value="{{lst.position_code}}">{{lst.position_long_title}}</option>
                                        </select>*@
                                    <label class="lbl_required" id="lbl_txtb_position_req"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="col-12 table-responsive">
                            <table id="datalist_grid" ng-model="datalist_grid" class="table table-striped table-bordered table-hover" style="width:100% !important;">
                                <thead>
                                    <tr>
                                        <th width="15%">CODE</th>
                                        <th width="55%">JOB FUNCTION/DESCRIPTION</th>
                                        <th width="10%">WEIGHT %</th>
                                        <th width="10%">FLAG</th>
                                        <th width="5%"><small>INCLUDE TO</small><br /><small>COMMON</small></th>
                                        <th width="5%">ACTION</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <hr style="margin-top:5px;margin-bottom:5px;" />
                        <div class="row">
                            <div class="col-lg-12 text-right">
                                <button id="btn_cancel"         ng-click="btn_cancel_click()"         type="button"  ng-show="true"  class="btn btn-danger"     ng-disabled="dis_creator"   data-toggle="tooltip" data-placement="top" title="Cancel Application"><i class="fa fa-ban"></i> Cancel Application</button>
                                <button id="btn_cancel_pending" ng-click="btn_cancel_pending_click()" type="button"  ng-show="true"  class="btn btn-warning"    ng-disabled="dis_creator"   data-toggle="tooltip" data-placement="top" title="Cancel Pending"><i class="fa fa-ban"></i> Cancel Pending</button>
                                <button id="btn_disapprove"     ng-click="btn_disapprove_click()"     type="button"  ng-show="true"  class="btn btn-danger"     ng-disabled="dis_creator"   data-toggle="tooltip" data-placement="top" title="Disapprove"><i class="fa fa-thumbs-down"></i> Disapprove</button>
                                <button id="btn_approve"        ng-click="btn_approve_click()"        type="button"  ng-show="true"  class="btn btn-success"    ng-disabled="dis_creator"   data-toggle="tooltip" data-placement="top" title="Approved"><i class="fa fa-paper-plane-o"></i> Approved</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

