
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Angular/ng-rSSAOHRender.js"></script>
<style type="text/css">
    @@media only screen and (min-width: 1300px) {
        .div_content_override {
            padding: 10px 10px 130px 10px;
        }
    }

    @@media only screen and (max-width: 769px) {
        .div_content_override {
            padding-top: 10px !important;
        }
    }

    .select2-selection__clear {
        font-size: 14px !important;
    }

    .select2-close-mask {
        z-index: 2099;
    }

    .select2-dropdown {
        z-index: 3051;
    }

    .select2-selection__rendered {
        line-height: 31px !important;
    }

    .select2-container .select2-selection--single {
        height: 35px !important;
    }

    .select2-selection__arrow {
        height: 34px !important;
    }

    /*.table > thead > tr > th {
        background-color: #1AB394 !important;
    }

    table#datalist_grid {
        font-weight: bold;
    }

    #datalist_grid tbody tr.even:hover, #datalist_grid tbody tr.even td.highlighted {
        background-color: #1AB394;
        color: white !important;
    }

    #datalist_grid tbody tr.odd:hover, #datalist_grid tbody tr.odd td.highlighted {
        background-color: #1AB394;
        color: white !important;
    }

    #datalist_grid tbody td.span td.highlighted {
        background-color: #1AB394;
        color: white !important;
    }*/

    span.required {
        border: 1px solid red !important;
    }

    .add-edit-modal {
        background-color: #1AB394 !important;
    }

    .atsfield {
        border: 1px solid #5c5 !important;
        font-size: 15px !important;
        background-color: white !important;
    }

    input.atsfield:disabled {
        border: 1px solid #5c5 !important;
        font-size: 15px !important;
        background-color: lightgray !important;
    }

    textarea.required {
        border-color: red !important;
    }

    .popover.clockpicker-popover {
        z-index: 99999;
    }

    input.required {
        border: 1px solid red !important;
        font-size: 15px !important;
        background-color: white !important;
    }
</style>

<section ng-app="ng_selfService_App" ng-controller="rSSAOHRender_ctrlr">

    <div class="modal fade" id="main_modal" role="dialog" aria-labelledby="modalLabelSmall" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content animated flipInY modal-content-add-edit">
                <div class="modal-header add-icon add-edit-modal text-white">
                    <h4 class="modal-title" id="exchange_modal_title"> Please Wait...</h4>
                </div>
                <div class="modal-body with-background text-center" style="padding-bottom:0px;">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="spiner-example">
                                <div class="sk-spinner sk-spinner-chasing-dots">
                                    <div class="sk-dot1"></div>
                                    <div class="sk-dot2"></div>
                                </div>
                            </div>
                            <h2><b>{{generate_message}}</b></h2>
                            <label class="text-right"><i class="fa fa-info-circle"></i><small style="font-size:12px;"> If it takes too long, you can refresh the page by Pressing Ctrl +F5 Key at the same time.</small></label>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="print_preview_modal" role="dialog" aria-labelledby="modalLabelSmall" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content animated flipInY modal-content-add-edit">
                <div class="modal-header add-icon add-edit-modal text-white">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exchange_modal_title">{{Modal_title}}</h4>
                </div>
                <div class="modal-body with-background text-center" style="padding-bottom:15px;">
                    <div class="form-horizontal">
                        <div class="row margin-top">
                            <div id="iframe_content" class="col-md-12">
                                <div ng-show="loading_r">
                                    <div class="spiner-example">
                                        <div class="sk-spinner sk-spinner-chasing-dots">
                                            <div class="sk-dot1"></div>
                                            <div class="sk-dot2"></div>
                                        </div>
                                    </div>
                                    <h2><b>{{generate_message}}</b></h2>
                                    <label class="text-right"><i class="fa fa-info-circle"></i><small> If it takes too long, you can refresh the page by Pressing Ctrl +F5 Key at the same Time.</small></label>
                                </div>
                                <div ng-show="!loading_r">
                                    <iframe id="ReportFrame" name="ReportFrame" alt="Please Wait.. Initializing Report Source" src="" height="500vh" width="100%" style="border:10px #ffffff"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight" style="padding:10px 0px 0px 0px!important">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox-title" style="background-color:#1ab394;border-radius:5px 5px 0px 0px;">

                    <div class="row">
                        <div class="col-lg-4">
                            <h2 class="text-white">@*DTR Overrides*@ @Session["menu_name"].ToString()</h2>
                        </div>
                        <div class="col-lg-8 text-right">
                            <span ng-show="show_dtr_status" class="btn btn-block btn-warning pull-right"><i class="fa fa-info-circle"></i> <b> {{dtr_status_descr}}</b></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight" style="padding:0px !important;">
        <div class="row">
            <div class="col-lg-12">
                <div class="float-e-margins">
                    <div class="ibox-title">
                        <div class="row">
                            <div class="col-sm-2">
                                <label>Month - Year :</label>
                            </div>
                            <div class="col-sm-3">
                                <input type="text" class="form-control text-left" data-provide="datepicker" id="txtb_dtr_mon_year" ng-model="txtb_dtr_mon_year">
                                <span class="fa fa-calendar pull-right" style="margin-top:-25px;padding-right:10px;"></span>
                                <label id="lbl_txtb_dtr_mon_year2_req" class="lbl_required"></label>
                            </div>
                            <div class="col-sm-1" style="padding-top:5px;padding-right:0px !important;padding-left:0px !important;">
                                <label>Department :</label>
                            </div>
                            <div class="col-sm-6">
                                <select class="form-control field-select-sm" id="ddl_dept" ng-model="ddl_dept" ng-change="ddl_dept_chane() " ng-disabled="true">
                                    <option value="" selected>--Select Here--</option>
                                    <option ng-repeat="lst in dept_list" value="{{lst.department_code}}">{{lst.department_name1}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row" style="padding-top:3px;">
                            
                            @*<div class="col-sm-2" style="padding-top:7px;display:none">
                                <label>View Type :</label>
                            </div>
                            <div class="col-sm-2" style="padding-left:0px;display:none">
                                <select class="form-control" id="ddl_viewtype" ng-model="ddl_viewtype" ng-change="FilterPageGrid()">
                                    <option value="0" selected>Whole Month</option>
                                    <option value="1">1st Quincena</option>
                                    <option value="2">2nd Quincena</option>
                                </select>
                            </div>*@
                                            @*<div class="col-sm-2" style="padding-top:7px;">
                                <label>Status :</label>
                            </div>
                            <div class="col-sm-2 text-center" style="padding-left:0px;">
                                <input type="text" class="form-control text-center" id="txtb_status" ng-model="txtb_status" disabled>
                            </div>*@
                        </div>
                        <div class="row" style="padding-top:5px;">
                            <div class="col-sm-2" style="padding-top:5px">
                                <label>Noted By:</label>
                            </div>
                            <div class="col-sm-4">
                                <select class="select2_demo_3 form-control" id="ddl_noted_by" ng-model="ddl_noted_by"  style="width:100%;">
                                    <option value="">--Select Here--</option>
                                    <option ng-repeat="lst in ddl_employee_source track by $index" ngx-data="{{$index}}" value="{{lst.empl_id}}">{{lst.employee_name}}</option>
                                </select>
                                <label id="lbl_ddl_name_req" class="lbl_required"></label>
                            </div>
                            <div class="col-sm-1" style="padding-top:5px;padding-right:0px !important;">
                                <label>Requested By:</label>
                            </div>
                            <div class="col-sm-5" >
                                <select class="select2_demo_3 form-control" id="ddl_requested_by" ng-model="ddl_requested_by" style="width:100%;">
                                    <option value="">--Select Here--</option>
                                    <option ng-repeat="lst in ddl_employee_source track by $index" ngx-data="{{$index}}" value="{{lst.empl_id}}">{{lst.employee_name}}</option>
                                </select>
                                <label id="lbl_ddl_name_req" class="lbl_required"></label>
                            </div>
                        </div>
                        <div class="row" style="padding-top:5px;">
                            <div class="col-sm-2" style="padding-top:5px">
                                <label>Recommended By:</label>
                            </div>
                            <div class="col-sm-4">
                                <select class="select2_demo_3 form-control" id="ddl_recommended_by" ng-model="ddl_recommended_by"  style="width:100%;">
                                    <option value="">--Select Here--</option>
                                    <option ng-repeat="lst in ddl_employee_source track by $index" ngx-data="{{$index}}" value="{{lst.empl_id}}">{{lst.employee_name}}</option>
                                </select>
                                <label id="lbl_ddl_name_req" class="lbl_required"></label>
                            </div>
                            <div class="col-sm-1" style="padding-top:5px;padding-right:0px !important;">
                                <label>Approved By:</label>
                            </div>
                            <div class="col-sm-5">
                                <select class="select2_demo_3 form-control" id="ddl_approved_by" ng-model="ddl_approved_by" style="width:100%;">
                                    <option value="">--Select Here--</option>
                                    <option ng-repeat="lst in ddl_employee_source track by $index" ngx-data="{{$index}}" value="{{lst.empl_id}}">{{lst.employee_name}}</option>
                                </select>
                                <label id="lbl_ddl_name_req" class="lbl_required"></label>
                            </div>
                        </div>
                        <hr style="margin-top:6px;margin-bottom:1px;background-color:black;border:1px solid #4a0707 ;" />
                        <div class="row" style="padding-top:5px">
                            <div class="col-sm-2" style="padding-top:5px">
                                <label>Search Employee:</label>
                            </div>
                            <div class="col-sm-7">
                                <input type="search" class="form-control" ng-model="search_box" ng-keyup="search_in_list(search_box,'datalist_grid')" placeholder="Search ....">
                            </div>
                            @*<div class="col-sm-1" style="padding-top:5px">
                                <label>Type:</label>
                            </div>
                            <div class="col-lg-2">
                                <select class="select2_demo_3 form-control" id="ddl_employment_type" ng-model="ddl_employment_type" style="width:100%;">
                                    <option value="">--Select Here--</option>
                                    <option ng-repeat="lst in ddl_employee_source track by $index" ngx-data="{{$index}}" value="{{lst.empl_id}}">{{lst.employee_name}}</option>
                                </select>
                                <label id="lbl_ddl_name_req" class="lbl_required"></label>
                            </div>*@
                            <div class="col-sm-3 text-right">
                                @*<button id="dtr_print" class="btn btn-primary" ng-disabled="!allowPrint" ng-click="btn_print()"><i class="fa fa-print"></i> Print</button>&nbsp;*@
                                <div class="btn-group">
                                    <button data-toggle="dropdown" ng-disabled="!allowPrint" class="btn btn-primary dropdown-toggle" aria-expanded="true"><i class="fa fa-print"></i>  Print</button>
                                    <ul class="dropdown-menu">
                                        <li><a ng-click="btn_print('JO')" class="font-bold">Job Order Only</a></li>
                                        <li><a ng-click="btn_print('CE')" class="font-bold">Casual Only</a></li>
                                        <li><a ng-click="btn_print('RE')" class="font-bold">Regular Only</a></li>
                                        <li><a ng-click="btn_print('ALL')" class="font-bold">All Employee</a></li>
                                    </ul>
                                </div>
                                <button id="btn_save" ng-disabled="!allowSubmit" class="btn btn-success" ng-click="btn_save_all('N')"><i class="fa fa-save"></i> Save</button>
                                <button id="btn_generate" ng-disabled="!allowgenerate" class="btn btn-warning" ng-click="btn_generate('N')"><i class="fa fa-cog"></i> Generate List</button>
                            </div>
                        </div>
                        <div class="row" style="padding-top:5px;">
                            <div class="col-lg-12">
                                <div class="table-responsive">
                                    <table id="datalist_grid" ng-model="datalist_grid" class="table_div table table-striped table-bordered table-hover table-responsive" style="width:100% !important;">
                                        <thead>
                                            <tr style="background-color: #1AB394 !important;">
                                                <th width="8%">ID</th>
                                                <th width="24%">EMPLOYEE NAME</th>
                                                <th width="25%">POSITION</th>
                                                <th width="35%">DATES</th>
                                                @*<th width="24%">REASONS</th>*@
                                                <th width="8%">ACTION</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
